.title{
  font-size: 21px;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.swiper{
  width: 700px;
  margin-bottom: 52px;
}

.slideBox{
  width: 75px;
  height: 75px;
  border: solid 3px rgb(49,88,194);
  border-radius: 10px;
}
