.root {
  background-color: #000;
  border-bottom: 1px solid #fff;
  padding: 18px 0;

  @include media-breakpoint-down(lg) {
    background-color: red;
  }


}

.headerMenu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle{
  display: flex;
  align-items: center;
  gap: 20px;

  .title{
    color: white;
    font-size: 28px;
    margin-top: 12px;
  }
}
.headerNav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  gap: 60px;
}
.logo{
  width: 39px;
  height: 39px;

}
.title{
  color: white;
  font-size: 28px;
}
.links{
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
