@font-face {
  font-family: 'Ruslan Display';
  src: url('fonts/RuslanDisplay.woff2') format('woff2'),
  url('fonts/RuslanDisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

