.outBorder{
  border: 2px solid $gray-500;
  border-radius: 100%;

  transition: $transition-base;
  transition-property: transform  ;

  padding: 1px;
}
.inBorder{
  display: flex;
  align-items: center;
  justify-content: center;

  &.a {
    text-decoration: none;
  }

  border-radius: 100%;
  border: 2px solid $white;

  width: 34px;
  height: 34px;
}