.root{
}
.title {
  h1 {
    color: white;
    font-size: 50px;
    margin: 0;
    text-align: center;
    div {
      line-height: 0.75;
    }
    @include media-breakpoint-down(lg) {
      font-size: 40px;
    }
  }
}
.canvasBlock{
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.canvas{
  width: 356px;
  height: 360px;
  background-color: $primary ;
  border-radius: 50px;
  z-index: 1;

}
.shadow{
  position: absolute;
  bottom: -20px;
  box-shadow: none;
  --bs-box-shadow: none
}
.btnList{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 24px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
}
.custom{
  @include media-breakpoint-down(lg) {
    font-size: 26px;
  }
}


