.swiper {
    margin: 0 -50px;
    padding: 0 50px;
}

.swiper-button-next,
.swiper-button-prev {

    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #e0e0e0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.swiper-button-next::after {
    background-image: url(../../../../public/Images/logo/next.png);
}

.swiper-button-prev::after {
    background-image: url(../../../../public/Images/logo/prev.png);
}

