.root{
  width: 100%;
  margin-top: 100px;
  background-color: $primary;
  padding: 16px 0;
  margin-bottom: 8px;
}
.footerInner{
  font-size: 29px;
  color: white;
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(lg) {
    font-size: 19px;
    text-align: center;
  }

}
