.root{
  padding-top:90px;
}


.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 152px;

  @include media-breakpoint-up(lg) {
    max-width: 1920px;
  }
  @include media-breakpoint-down(lg) {
    display: flex;
    flex-direction: column;
  }
}