.root {
  padding-top: 90px;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  @include media-breakpoint-up(xxl) {
    flex-direction: row;

    max-width: 1690px !important;
  }
}